.mainContainer{
    position: relative;
}
    .sectionTitle{
        text-align: center;
    }
    .moviesContainer{
        display: flex;
        flex-wrap: wrap; 
        justify-content: center;
    }
    .detailsSection{
        position: absolute;
        background-color: aqua;
        top: 0;
        width: 80%;
        height: 80vh;
    }


@media screen and (max-width: 400px){

}