/*Font for logo*/
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');


:root{
    --logo-font: 'Satisfy', cursive;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}